<table class=bottom>
    <tr>
        <td colspan="2">{{about.address}}</th>
        <td colspan="2">{{about.hours}}</th>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="4">Thank you for visiting!</th>
    </tr>
    <tr>
        <td colspan="4">Hot Wok 2020</th>
    </tr>
</table>