<table class=bottom>
    <tr>
        <td colspan="2">{{bottomDetails.address}}</td>
        <td colspan="2">{{bottomDetails.hours}}</td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="4"></td>
    </tr>
    <tr>
        <td colspan="4">Thank you for visiting!</td>
    </tr>
    <tr>
        <td colspan="4">Hot Wok 2020</td>
    </tr>
</table>