{% extends "layout.html" %}

{% block top %}
    {% include 'top_nav.html' with {'menuTypes': menuTypes} %}   
{% endblock %}

{% block title%}
      <title>Contact the Restaurant</title>
{% endblock %}

{% block content %}
      <!--To go back to main page-->
      <div class="form-content">
            <h3>Contact the Restaurant</h3></br>
            <h3>Kindly submit a form if you wish to book a table, ask us a question or make a complaint</h3>
      </div>
      <!--The form to be filled by the user to contact the restaurant -->
      <span class="validate">{{validation.pagemessage}}</span>
      <div class="form-container">
            <form id="contactform" method="POST" action="contactform.php">
                  <div class="col1"><label for="Name">Full Name:</label></div>
                  <div class="row">
                        <input required maxlength="50" required value="{{ formvalues.name }}" type="text" name="name" placeholder="Full Name"> 
                        <span class="validate">{{validation.nameError}}</span>
                  </div>
                  <div class="col1"><label for="Email">E-mail Address:</label></div>
                  <div class="row">
                        <input required value="{{ formvalues.email }}" placeholder="E-mail Address" type="email" name="email">
                        <span class="validate">{{validation.emailError}}</span>
                  </div>
                  <div class="col1"><label for="MobNo">Mobile Number:</label></div>
                  <div class="row">
                        <input required value="{{ formvalues.mobno }}" placeholder="Mobile Number" type="text" name="mobno">
                        <span class="validate">{{validation.mobError}}</span>
                  </div>
                  <div class="col1"><label for="Subject">Subject:</label></div>
                  <div class="row">
                        <select id="subject" name="subject">
                           <option value="reservation">Make a Reservation</option>
                           <option value="question">Ask Us a Question</option>
                           <option value="complaint">Submit a Complaint</option>
                           <option value="other">Other</option>   
                        </select>
                        <span class="validate">{{validation.subjectError}}</span>
                  </div>
                  <div class="col1"><label for="Message">Message:</label></div>
                  <div class="row">
                        <textarea required maxlength="200"  type="text" name="message" placeholder="Message">{{ formvalues.message }}</textarea>
                        <span class="validate">{{validation.messageError}}</span>
                  </div>
                  <div class="row">
                        <input type="submit" value="Submit">
                  </div>
            </form>
      </div>
      
{% endblock %}

{% block bottom %}
    {% include 'bottom_nav.html' with {'about': about} %}   
{% endblock %}