{% extends "layout.html" %}

{% block title %}
      <title>HOT WOK - Favourites</title>
{% endblock %}

{% block top %}
    {% include 'top_nav.html' with {'menuTypes': menuTypes} %}   
{% endblock %}

{% block content %}
    <div class="title">
        <h1>My favourite food</h1>
        <h3>Your favourite choices from our restaurant, all in one place!<br>Simply click on the heart icon to remove an item from this list</h3>
    </div>
    <!--Check if item there are any favourites at all-->
    {% if favouriteItems.1 is empty %}
        <div class="empty">
            <h4>You have not selected any favourites yet!<br>Go to the menu page to view all of our food and click on the heart to add an item to this list</h4>
        </div>
    {% else %}
        {% for item2 in favouriteItems %}
            {% for item in item2 %}
                <div class="card">
                    <a href="details.php?item={{ item.id }}"><img src="{{ item.image }}" alt="{{ item.name }}" style="width:100%"></a>
                    <form class="container" action="edit_favourite.php" method="POST">
                        <!--Check if item is favourited or not to display different icon-->
                        {% if item.id in favourites %}
                            <button class=favourites name="favourite" value="rem{{ item.id }}"><img src=assets/images/favourite_fill.png alt="Add to favourites" style="width:30%"></button>
                        {% else %}
                            <button class=favourites name="favourite" value="add{{ item.id }}"><img src=assets/images/favourite_outline.png alt="Remove from favourites" style="width:30%"></button>
                        {% endif %}
                        <h3 style="height: 40px"><b>{{ item.name }}</b></h3>
                        <h4>({{ item.category }})</h4>
                        <p class="price">{{ item.price }}</p>
                    </form>
                </div>
            {% endfor %}
        {% endfor %}
        <a href="mail.php"><h4>Email this list!</h4></a>
    {% endif %}
{% endblock %}

{% block bottom %}
    {% include 'bottom_nav.html' with {'bottomDetails': bottomDetails} %}
{% endblock %}