{% extends "layout.html" %}

{% block title %}
      <title>HOT WOK - Favourites</title>
{% endblock %}

{% block top %}
    {% include 'top_nav.html' with {'menuTypes': menuTypes} %}   
{% endblock %}

{% block content %}
    <header class="title">
        <h1>My favourite food</h1>
        <h3>Your favourite choices from our restaurant, all in one place!<br>Simply click on the heart icon to remove an item from this list</h3>
    </header>
    <!--Check if item there are any favourites at all-->
    {% if favouriteItems.1 is empty %}
        <div class="empty">
            <h4>You have not selected any favourites yet!<br>Go to the menu page to view all of our food and click on the heart to add an item to this list</h4>
        </div>
    {% else %}
        {% for item2 in favouriteItems %}
            {% for item in item2 %}
                <div class="card">
                    <a href="details.php?item={{ item.id }}"><img src="{{ item.image }}" alt="{{ item.name }}" style="width:100%"></a>
                    <form class="container" action="edit_favourite.php" method="POST">
                        <button class=favourites name="favourite" value="rem{{ item.id }}"><img src=assets/images/favourite_fill.png alt="Add to favourites" style="width:30%"></button>
                        <h3 style="height: 40px"><b>{{ item.name }}</b></h3>
                        <h4>({{ item.category }})</h4>
                        <p class="price">{{ item.price }}</p>
                    </form>
                </div>
            {% endfor %}
        {% endfor %}
        <!--Email functionality-->
        <form class="emailFavourites" action="mail.php" method="POST">
            <br><br>
            <h3>Would you like to recieve your favourite dishes by email?</h3>
            <label for="email">Enter your email: </label>
            <input type="email" name="email"><br>
            {% set counter = 0 %}
            {% for item2 in favouriteItems %}
                {% for item in item2 %}
                    {% set counter = counter + 1 %}<!--For every item on this page, all of its details are being sent via POST-->
                    <input type="hidden" name="name {{counter}}" value="{{item.name}}">
                    <input type="hidden" name="category {{counter}}" value="{{item.category}}">
                    <input type="hidden" name="type {{counter}}" value="{{item.type}}">
                    <input type="hidden" name="ingredients {{counter}}" value="{{item.ingredients}}">
                    <input type="hidden" name="description {{counter}}" value="{{item.description}}">
                    <input type="hidden" name="price {{counter}}" value="{{item.price}}">
                {% endfor %}
            {% endfor %}
            <input type="hidden" name="count" value="{{counter}}">
            <button type="submit">Send email</button>
        </form>
    {% endif %}
{% endblock %}

{% block bottom %}
    {% include 'bottom_nav.html' with {'bottomDetails': bottomDetails, 'menuItems': menuItems} %}
{% endblock %}