{% extends "layout.html" %}

{% block title %}
    <title>Welcome to Hot Wok!</title>
{% endblock %}

{% block top %}
    {% include 'top_nav.html' with {'menuTypes': menuTypes} %}   
{% endblock %}

{% block content %}
    <div class="title">
        <h1>Welcome to Hot Wok</h1>
        <a href="menu.php">Check out our Menu!</a>
    </div>
    <div class="index-1">
        <img src="assets/images/hotwoklogo.jpg" alt="Hot Wok Logo" width="200" height="200">
        <p>Welcome to our website, where you can view our latest menu, contact us and get to know where we come from.<br>
           When viewing our menu, you can add individual items to your <a href=favourites.php>favourites</a>, which is displayed on a seperate page.<br>
           Please do not hesitate to contact us about any queries or to book a table. We always try our best to reply as soon as possible. All contact details
           are found in the about page, as well as some information about Hot Wok! 
        </p>
        <button onclick="window.location.href='about.php'">Read More</button>
    </div>
    <div class="index-2">
        <img src="assets/images/restaurantimage.jpg" alt="Restaurant" width="355" height="500">
        <img src="assets/images/restaurantimage2.jpg" alt="Restaurant" width="355" height="500">
        <img src="assets/images/restaurantimage3.jpg" alt="Restaurant" width="358" height="500">
        <h2></h2>
    </div>
    <div class="index-3"></div>
    
{% endblock %}

{% block bottom %}
    {% include 'bottom_nav.html' with {'bottomDetails': bottomDetails, 'menuItems': menuItems} %}
{% endblock %}
