{% extends "layout.html" %}

{% block title %}
    <title>Welcome to Hot Wok!</title>
{% endblock %}

{% block top %}
    {% include 'top_nav.html' with {'menuTypes': menuTypes} %}   
{% endblock %}

{% block content %}
    <div class="index-row">
        <h1>Welcome to Hot Wok</h1>
        <a href="menu.php">Check out our Menu!</a>
    </div>
    <div class="index-content">
        <img src="assets/images/restaurantimage.jpg" alt="Restaurant" width="355" height="500">
        <img src="assets/images/restaurantimage2.jpg" alt="Restaurant" width="355" height="500">
        <img src="assets/images/restaurantimage3.jpg" alt="Restaurant" width="360" height="500">  
    </div>
    
{% endblock %}

{% block bottom %}
    {% include 'bottom_nav.html' with {'bottomDetails': bottomDetails, 'menuItems': menuItems} %}
{% endblock %}
