<ul class="top">
    <li><a href="index.php" class="navimg"><img src="assets/images/hotwoklogo.jpg" alt="Hot Wok Logo" width="100" height="100"></a></li>
    <li class="dropdown">
        <a href="menu.php" class="dropbtn">Menu</a>
        <div class="dropdown-content">
            {% for type in menuTypes %}
                <a href="menu.php?type={{ type.name }}">{{ type.name }}</a>
            {% endfor %}
        </div>
    </li>
    <li><a href="contactform.php">Contact</a></li>
    <li><a href="about.php">About</a></li>
    <li><a href="favourites.php">My favourites</a></li>
</ul>